@import 'themes/theme-dark.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.meny-container {
    width: 10rem;
    height: 100vh;
}

.knappar-container {
   width: 26rem;
   display: grid;
   height: 100vh;
   grid-template-rows: repeat(8, 1fr);
   background-color: var(--primary-color);
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
}

.knappar-container button {
    background-color: var(--primary-color);
    font-size: 2rem;
    text-align: left;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    border: none;
    color: var(--icon-color);
    cursor: pointer;
}

.material-icons {
    font-size: 48px;
}

.knappar-container button p {
    padding-left: 0.5rem;
}

.knappar-container button:hover {
    background-color: var(--secondary-color);
}

.knappar-container button:nth-child(1) {
    border-bottom: 2px solid var(--secondary-color);
}

.knappar-container button:nth-child(5) {
    border-bottom: 2px solid var(--secondary-color);
}